name: Build and Run Job with Custom Docker Image

on:
  push:
    branches:
      - main  # Trigger the workflow when changes are pushed to the main branch

jobs:
  build-docker-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create .env file from secret
        run: |
          echo "${{ secrets.DOTENV_FILE }}" | jq -r 'to_entries | .[] | "\(.key)=\"\(.value)\""' > .env

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/nicko30/api-test-using-ruby/api-test:latest

  run-using-docker-image:
    runs-on: ubuntu-latest

    needs: build-docker-image  # This job will only run if 'build-docker-image' is successful

    container:
      image: ghcr.io/nicko30/api-test-using-ruby/api-test:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}  # In case the image is private

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run your script inside the container
        run: |
          # Run commands in the Docker container
          cucumber features/scenarios/api/Playground.feature
